<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/login.css}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kiwi+Maru:wght@300;400;500&display=swap">
</head>

<body>
	<header>
		<!--スマートフォン-->
		<nav class="menu">
			<div class="logo">
				<a href="#"><img th:src="@{/images/logo.png}"></a>
			</div>
			<div class="menu-contents">
				<div class="menu-inner">
					<ul>
						<li class="menu__item"><a th:href="@{/admin/register}">アカウント登録</a></li>
					</ul>
				</div>
				<div class="menu-toggle_btn">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</nav>

		<!--pc-->
		<nav class="pc">
			<div class="pc-inner">
				<div class="pc-logo">
					<a href=""><img th:src="@{/images/logo.png}"></a>
				</div>
				<ul class="pc-list">
					<li class="pc-list__item"><a th:href="@{/admin/register}">アカウント登録</a></li>
				</ul>
			</div>
		</nav>
	</header>	
	<main>
		<section>
			<h2>ログイン</h2>
			<form th:action="@{/admin/login}" method="POST">
				<table>
					<tr>
						<td><input type="text" name="userEmail" placeholder="UserEmail" required></td>
					</tr>
					<tr>
						<td><input type="password" name="password" placeholder="Password" required></td>
					</tr>
				</table>
				<div class="submit-button">
					<button id="login" class="active_btn">ログイン</button>
				</div>
			</form>
		</section>
	</main>
	</body>
</html>